﻿html * {
    font-size: 1em;
    color: #000;
    font-family: Calibri !important;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1.5px solid #404040;
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #83B742;
    color: white;
    font-weight: bold;
}

#mainDiv {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    border-left: solid;
    border-left-width: 1px;
    border-right: solid;
    border-right-width: 1px
}

input[type=text] {
    width: 350px;
    height: 25px;
}

input[type=button] {
    width: 260px;
    height: 30px
}

.subDiv {
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
}

.subDivNoRightPadding {
    padding-left: 50px;
    padding-top: 20px;
}

a {
    font-style: italic;
    font-size: 11pt;
    color: deepskyblue;
    text-decoration: none;
    text-align: center;
    display: block;
}

#btnAdvSearch {
    display: none;
}

#divDirection {
    display: none;
    padding-top: 10px;
}

.message {
    display: none;
    color: red;
    font-weight: 100;
}

.navigation {
    width: 70px !important;
    height: 30px !important;
}

#pagingDiv {
    display: none;
    justify-content: center;
}



.center {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
